    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About the Worst Party Ever Show</h2>

                <p>Taking this back to 2013, a party was thrown with 100+ registered attendees and a lively attendance of 13. It was terrible, pretty mediocre, all around amazing, and basically the worst party ever. Ever since DJ Audits has tried to spread the mediocrity of that night to the world through awful websites, terrible radio shows, and unoriginal About Me's.
                </p>
                    
                <p>The Worst Party Ever show on Hollow Earth Radio. Currently the show airs from 1pm – 2pm PST, with a rebroadcast on Wednesday from 7am – 9am PST. The general theme is to gather a bunch of random albums from the studio, focusing on Seattle / PNW artists and picking an A-side and B-side track from the album. A throw back to vinyl records, where A-sides were a first song or title song, and B-side being a lesser known song.
                </p>
                <hr>
            </div>
          </div>
        </section>
