    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Time Travel <em>Party</em></h2>

                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/elah3i_WiFI" frameborder="0" allowfullscreen></iframe>
                </div>
                <p>In 2009, theoretical physicist, cosmologist, and all around ridiculously brilliant dude Stephen Hawking <a href="http://www.huffingtonpost.co.uk/2012/07/02/stephen-hawking-time-travel_n_1643488.html">conducted a rather amazing experiment</a> trying to prove the existence of Time Travel.
                  <blockquote>
                    "I have experimental evidence that time travel is not possible," he said. "I gave a party for time-travellers, but I didn't send out the invitations until after the party. I sat there a long time, but no one came."
                  </blockquote>
                </p>

                <p>We’re no scientists, but uh, maybe there is one thing the professor didn’t consider? Maybe his party was a dud?</p>

                <p>Maybe there were better places to be…</p>

                <h1>That's where we step in.</h1>

                <p>We want to throw the world's best Time Traveller party. A party that the cosmos will forever be talking about. One for the ages and ages and ages... But unlike Stephen Hawking's "How To Throw A Party 101" failure, we're going to <em>ACTUALLY INVITE YOU</em> and all the Time Travellers from now until...<div style="font-size:80px">&infin;</div></p>
                <hr>
            </div>
          </div>
        </section>
