    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Where to Listen</h2>
                <p><a href="http://www.hollowearthradio.org/listen">
                    <img class="resize2" border="0" alt="Hollow Earth Radio" src="/img/HollowEarthLogo.png" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"></a></p>
                <p><a href="https://www.mixcloud.com/worstpartyever/">
                    <img class="resize" border="0" alt="Mixcloud" src="/img/WhiteOnTransparent.png" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"></a></p>
                <p style="clear: both;">
                <hr>
                <br/>
                <center>
                  <script async src="https://static.medium.com/embed.js"></script><a class="m-profile" href="https://medium.com/@timetravelparty"></a>
                </center>
                <p/><br/>
                <p>Click above to read breaking news on <a href="https://medium.com/@timetravelparty">Medium</a>.<p/>

                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
