<section id="faq" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">


        <h1>FAQ</h1>

        <h2>Ok, you may be asking yourself: "Man, I love a good party and all - but um, who are you and what gives you the authority to throw a shindig of such cosmic importance?"</h2>

        <p>Good question! In truth, we're not world famous brainiacs, but instead just a bunch of weirdos in Seattle who run a little community non-profit radio station called <a href="http://www.hollowearthradio.org">Hollow Earth Radio</a>. We're a community focused on underrepresented sounds and perspectives (i.e. burp symphonies and interviews with folks claiming to be Reptilian beings). And we've got a reputation for throwing some real world-class ragers. </p>
        </p>

        <div class="video-container">

          <iframe src="https://player.vimeo.com/video/46375158" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/46375158">Jan Terri featuring Heatwarmer (part II)</a>.
        </div>

        <p>But we also have a connection to Time Travel that is not readily known. Back in 2005, a couple of years before we started broadcasting, we found a letter in a suitcase a block away from the building that would eventually become our main headquarters. The letter read:

        <blockquote>
          "Welcome to my secret note! Thank you for believing in Time Travel. Jared. Please reply"
        </blockquote>

        <center>
          <a href="/img/letter-from-jared.png"><img src="/img/letter-from-jared.png" width="450"></a>
        </center>

        <br/><p/>

        <p>None of us ever wrote back to "Jared", but in hindsight it’s incredibly strange that Hollow Earth Radio would one day move our studio location all the way across town to be just a few paces from the spot we found that mysterious note from a Time Traveller. Seems like FATE. So, in honor of that, we think it’s high time we finally write our own response. And we are going to make it possible for you to write your own reply to “Jared The Time Traveller” that we can pass along too…</p>

        <h2>But why "now"?</h2>

        <p>A couple of reasons: This is the year that Marty McFly travels into the future in <em>Back To The Future II</em>. In fact, Oct 21st 2015 is the exact date. <a href="http://istodaythedaymartymcflyarriveswhenhetravelstothefuture.com">Here's a website that has a countdown.</a>

        <p>Another reason is that starting next year, <a href="http://www.hollowearthradio.org">Hollow Earth Radio</a> will hopefully begin transmitting on the FM dial (100.3 KHUH, Seattle) after nine years of broadcasting online-only. We were recently granted <a href="http://www.cityartsonline.com/articles/100-watt-revolution">a Low Power FM license</a>, but we desperately need to raise a crap-ton of funds to actually buy and start operating our transmitter/antenna. It's a huge transition for us and this party will serve as a TIMELESS MEMORY of this new path we're embarking on. This Time Travel Party will be one of our many ways to collect donations this Fall in order to 'Save The Radio Tower' (so-to-speak), and we're hoping you'll see the importance of being part of this momentous occasion in our station's history.

        <p>And finally, as if it wasn't abundantly clear, we think there's a general feeling going around that we're all stuck in the crummy, comically bad Biff Tannen version of the future (popularized in <em>Back to the Future II</em>). There's a lot of horrible stuff seemingly everywhere you look. We're hoping that by throwing this Time Travel Party we will all have an opportunity to reflect on the current timeline we've found ourselves in and seek out ways to fork our reality back onto a positive trajectory. Let's all work together to course-correct where we collectively want to be going. AND LET'S NOT FORGET TO "PARTY ON DUDES".

        <h2>So what's gonna happen at this party anyway?</h2>

        <p>We’re still planning, and it will happen before January 2016 in Seattle, WA. We’re not too worried about “the details” right now because the “real” Time Travelers already know when the party is going to go down, it’s just taking those of us stuck in the past a bit of time to work out the logistics. Here are some things we’re working on though:

        <p>* An Enchantment Under The Sea Dance, with music provided by the some special TBA artists. If all goes right we'll have tribute bands for Marvin Berry & the Starlighters and the Wyld Stallyns (yes, of Bill & Ted's Excellent Adventure fame).
        </p>
        <p>*A Time Travel Museum: Complete with Time Travel artifacts, including the original letter from "Jared", special guests, art installations, and other reality-bending treasures. This will open on Oct 21st, at <a href="http://www.hollowearthradio.org">Hollow Earth Radio</a>. We would like to invite all artists, time travelers, and visionaries to submit original time-travel inspired art pieces, evidence of alternate or altered timelines, or artifacts from your journeys. Details <a href="https://docs.google.com/forms/d/1AIWtlqaZ0S5rIOHEOXjMx40aC2FlPqq1p9HzKFiaQC8/viewform?c=0&w=1">here.</a></li>
        <p>*A time capsule that you are encouraged to contribute to! We'll also be accepting letters to share with "Jared".
        </p>
        <p>* Does someone have a Hot Tub Time Machine they want to donate?</p>
        <p>A Whole Bunch Of Other Surprises!!!</p>

        <h2>Ok. Ok. I want to come. When is this party going to happen?</h2>

        <p>We're excited to be hosting he first ever party where there is a
          <em>DISTINCT POSSIBILITY THAT TIME TRAVELLERS ARE THERE ANONYMOUSLY IN THE CROWD, SHAKING THEIR BOOTY</p></em>

        <p>But we're not ready to announce when or where yet. We'll have details real soon, so check back frequently.</p>
    </div>
</div>
</section>
