    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Time Travel &nbsp;&nbsp;&nbsp;<em>>>>Party</em></h1>
                        <p class="intro-text">We're having a party and want Time Travellers in all timelines to know they should stop through! You should come too, because even if <em>they</em> stand us up this time, there is always a chance they could show in the future!
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
